body {
 display: flex;
 align-items: center;
 justify-content: center;
 height: 100vh;
 background: #222;
 margin: 0;
 padding: 0;
 box-sizing: border-box;
}

.card{
 margin: 6px;
 padding: 6px;
 display: flex;
 height: 200px;
 width: 200px;
 font-size: 25px;
 font-weight: 600;
 align-items: center;
 justify-content: center;
 text-align: center;
 animation: anim 5s linear infinite;
 color: #3c8FFF;
 border-radius: 60px;
 transition: 1s;
 border: 4px solid #3c8FFF;
 overflow: auto;
 /* box-shadow: 0 0 10px #3c8FFF; */
}

.card:hover {
 border-radius: 15px;
 font-size: 35px;
 height: 600px;
}

main{
 display: flex;
 margin: 10px;
}
/* --------------------------------------- */
@keyframes anim {
 0% {
  filter: hue-rotate(0deg);
 }
 
 25% {
  filter: hue-rotate(90deg);
 }

 50% {
  filter: hue-rotate(180deg);
 }
 
 75% {
  filter: hue-rotate(270deg);
 }

 100% {
  filter: hue-rotate(360deg);
 }
}
